<h3>View Student Details</h3>
<div>
    <div>
        <label><b>First Name</b></label>{{student.firstname}}
    </div>
    <div>
        <label><b>Last Name</b></label>{{student.lastname}}
    </div>
    <div>
        <label><b>DOB</b></label>{{student.dob}}
    </div>
    <div>
        <label><b>Age</b></label>{{student.age}}
    </div>
    <div>
        <label><b>Gender</b></label>{{student.gender}}
    </div>
    <div>
        <label><b>Mobile</b></label>{{student.mobile}}
    </div>
    <div>
        <label><b>Address</b></label>{{student.address}}
    </div>
    <div>
        <label><b>Course Name</b></label>{{student.courseName}}
    </div>
    <div>
        <label><b>Branch</b></label>{{student.branch}}
    </div>
    <div>
        <label><b>Year</b></label>{{student.year}}
    </div>
    <div>
        <label><b>Enrollement Date</b></label>{{student.enrollmentDate}}
    </div>
    <div>
        <label><b>Roll Number</b></label>{{student.rollNumber}}
    </div>
    <div>
        <label><b>Email</b></label>{{student.email}}
    </div>
</div>
