<h3>View Timetable Details</h3>
<div>
    <div>
        <label><b>CourseName</b></label>{{timetable.courseName}}
    </div>
    <div>
        <label><b>Branch</b></label>{{timetable.branch}}
    </div>
    <div>
        <label><b>Subject</b></label>{{timetable.subject}}
    </div>
    <div>
        <label><b>DayOfWeek</b></label>{{timetable.dayOfWeek}}
    </div>
    <div>
        <label><b>StartTime</b></label>{{timetable.startTime}}
    </div>
    <div>
        <label><b>EndTime</b></label>{{timetable.endTime}}
    </div>
   
</div>
