<div class="col-md-6 offset-md-3">
    <h3>Add Course</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="course.id">
        </div>
        <div class="form-group">
            <label>Course Name</label>
            <input type="text" class="form-control" id="courseName" name="courseName" [(ngModel)]="course.courseName">
        </div>
<div class="form-group">
    <label>Branch</label>
    <input type="text" class="form-control" id="branch" name="branch" [(ngModel)]="course.branch">
</div>
<div class="form-group">
    <label>Year</label>
    <input type="text" class="form-control" id="year" name="year" [(ngModel)]="course.year">
</div>
<div class="form-group">
    <label>Course Duration</label>
    <input type="text" class="form-control" id="courseDuration" name="courseDuration" [(ngModel)]="course.courseDuration">
</div>
<div class="form-group">
    <label>Language</label>
    <input type="text" class="form-control" id="language" name="language" [(ngModel)]="course.language">
</div>
<div class="form-group">
    <label>Subject Name</label>
    <input type="text" class="form-control" id="subjectName" name="subjectName" [(ngModel)]="course.subjectName">
</div>
<div class="form-group">
    <label>Course Code</label>
    <input type="text" class="form-control" id="courseCode" name="courseCode" [(ngModel)]="course.courseCode">
</div>
<div class="form-group">
    <label>Course Type</label>
    <input type="text" class="form-control" id="courseType" name="courseType" [(ngModel)]="course.courseType">
</div>

<button class="btn btn-success" type="submit">Submit</button>
    </form>
    </div>
   