<h3>View Attendance Details</h3>
<div>
    <div>
        <label><b>ID</b></label>{{attendance.id}}
    </div>
    <div>
        <label><b>Student_name</b></label>{{attendance.student_name}}
    </div>
    <div>
        <label><b>Course_name</b></label>{{attendance.course_name}}
    </div>
    <div>
        <label><b>Year</b></label>{{attendance.year}}
    </div>
    <div>
        <label><b>Branch</b></label>{{attendance.branch}}
    </div>
    <div>
        <label><b>RollNumber</b></label>{{attendance.rollNumber}}
    </div>
    <div>
        <label><b>Attendance_date</b></label>{{attendance.attendance_date}}
    </div>
    <div>
        <label><b>TodayAttendance</b></label>{{attendance.todayAttendance}}
    </div>
</div>
