.form-group{
    font-size: 20px;
    margin-left:80px;
    margin-right:80px;
    
}
.form-control{
    font-size: px;
    
}
h1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow:2px 2px 5px green;
    color:rgb(9, 66, 9);
    margin-left: 70px;   
}