

<body>


<h2 style="background-color:brown"><font size="06px" style="color:white">CAMPUS LIFE Fests</font></h2><hr>
<h2 style="color:blue">Fests</h2>
To foster all-round development of students personality, the college facilitates them through a large number of Department Fests and the Annual Cultural & Sports Day Event. 
<h2 style="color:indigo">Co-Curricular Fests</h2>
These Fests provide the platform to the young innovative minds to share the ideas with other college students across Cities and States to improve their technical, communication and presentation skills. Each department organizes various events in these fests like Paper Presentations, Model or Poster Presentations, Seminars, Quizzes, Coding & Puzzles etc. Department wise Fests are mentioned below.<br>
<br>
<b><u>1. National Mathematics Day</u></b> - This annual event is organized by the Department of Mathematics to celebrate the birth anniversary of Mathematician Srinivasa Ramanujan. 
<br><br>
<b><u>2. Computer Science Fest</u></b> - This annual event is organized by the Department of Computer Science. 
<br><br>
<b><u>3. Electronics Fest</u></b> 
- This annual event is organized by the Department of Electronics. 
<br><br>
<b><u>4. National Science Day </u></b>- This annual event is organized by the Departments of Physics and Electronics to mark the discovery of the Raman Effect by the Indian Physicist Sir C.V. Raman on 28th February.  
<br><br>
<b><u>5. National Statistics Day </u></b>- This annual event is organized by the Department of Statistics on June 29th to commemorate the birth anniversary of Prof. PC Mahalanobis who has been considered as the father of modern statistics in India. 
<br><br>
<b><u>6. BioTech Fest </u></b>- This annual event is organized by the Department of Bio-Technology, Micro-Biology & Chemistry.  
<hr>
</body>



