<h3>View Faculty Details</h3>
<div>
    <div>
        <label><b>Staff Name</b></label>{{faculty.staffName}}
    </div>
    <div>
        <label><b>Gender</b></label>{{faculty.gender}}
    </div>
    <div>
        <label><b>Mobile No</b></label>{{faculty.mobileNo}}
    </div>
    <div>
        <label><b>Education</b></label>{{faculty.education}}
    </div>
    <div>
        <label><b>Designation</b></label>{{faculty.designation}}
    </div>
    <div>
        <label><b>Address</b></label>{{faculty.address}}
    </div>
    <div>
        <label><b>Email</b></label>{{faculty.email}}
    </div>
</div>


