<h3>View Course Details</h3>
<div>
    <div>
        <label><b>ID</b></label>{{course.id}}
    </div>
    <div>
        <label><b>Course Name</b></label>{{course.courseName}}
    </div>
    <div>
        <label><b>Branch</b></label>{{course.branch}}
    </div>
    <div>
        <label><b>Year</b></label>{{course.year}}
    </div>
    <div>
        <label><b>Course Duration</b></label>{{course.courseDuration}}
    </div>
    <div>
        <label><b>Language</b></label>{{course.language}}
    </div>
    <div>
        <label><b>Subject Name</b></label>{{course.subjectName}}
    </div>
    <div>
        <label><b>Course Code</b></label>{{course.courseCode}}
    </div>
    <div>
        <label><b>Course Type</b></label>{{course.courseType}}
    </div>
</div>

