<!--<body>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS09Apc4gdjLARkUjtGGJsjKwCTUW7loT8sug&usqp=CAU">
<h4 align="center" style="color:brown">UG Courses</h4>
<table class="table table-striped"style="text-align:center">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Course</th>
        <th scope="col">Combination</th>
        <th scope="col">Medium</th>
        <th scope="col">Fees</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Bachelor of Science(B.sc)</td>
        <td>Mathematics-Electronics-Computer Science(MECS)</td>
        <td>English</td>
        <td>24000/-</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Bachelor of Science(B.Sc)</td>
        <td>Mathematicss-Physics-Computer Science(MPCS)</td>
        <td>English</td>
        <td>24000/-</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Bachelor of Science(B.Sc)</td>
        <td>Mathematics-Statistics-Computer Science(MSCS)</td>
        <td>English</td>
        <td>24000/-</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Bachelor of Science(B.Sc)</td>
        <td>BioTechnology-MicroBiology-Chemistry(BMC)</td>
        <td>English</td>
        <td>25000/-</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Bachelor of Commerce(B.Com)</td>
        <td>Computer Application(CA)</td>
        <td>English</td>
        <td>25000/-</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Bachelor of Business Administration(BBA)</td>
        <td>-</td>
        <td>English</td>
        <td>28000/-</td>
      </tr>
    </tbody>
  </table>
  <h4 align="center" style="color:brown">PG Courses</h4>
  <table class="table table-striped"style="text-align:center">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Course</th>
        <th scope="col">Specialization</th>
        <th scope="col">Medium</th>
      </tr>
      <tbody>
        <tr>
          <td>1</td>
          <td>Master of Science(M.Sc)</td>
          <td>Mathematics</td>
          <td>English</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Master of Commerce(M.Com)</td>
            <td>Professional</td>
            <td>English</td>
          </tr>
    </tbody>
</table>
</body>-->


<h2 id="a">Course List!!</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Branch</th>
            <th>Year</th>
            <th>Course Duration</th>
            <th>Language</th>
            <th>Subject Name</th>
            <th>Course Code</th>
            <th>Course Type</th>
            
           
  
            
            <!--<th>Action</th>-->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of courses">                
            <td>{{course.courseName}}</td>
            <td>{{course.branch}}</td>
            <td>{{course.year}}</td>
            <td>{{course.courseDuration}}</td>
            <td>{{course.language}}</td>
            <td>{{course.subjectName}}</td>
            <td>{{course.courseCode}}</td>
            <td>{{course.courseType}}</td>
           <!-- <td>
                
                
                <button (click) = "courseDetails(course.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>-->
    
        </tr>
    </tbody>
</table>



