<marquee direction="left" behavior="alternate">Anna University</marquee>
<div class="homee">
<h1 align="center" style="color:rgba(216, 19, 85, 0.925)" > <i>Welcome</i></h1>
<h1 align="center" style="color:rgb(148, 36, 17);">Anna University Guindy</h1>
<h5 align="center" style="color:green">Anna University
    Chennai - 600 025
    Tamil Nadu</h5>
<hr>

<!--<p><b>Anna University,</b>  established in 1978 in Chennai, Tamil Nadu, 
    is a renowned technical university known for its commitment to excellence in engineering, 
    technology, and management education. With multiple campuses across the state, 
    it oversees a vast network of affiliated engineering colleges. The university offers a comprehensive 
    range of undergraduate, postgraduate, and doctoral programs, emphasizing both theoretical
     knowledge and practical skills. Known for its strong focus on research and innovation,
      Anna University encourages faculty and students to engage in cutting-edge projects, 
      contributing significantly to advancements in various fields. Many affiliated colleges 
      have autonomous status, allowing flexibility in curriculum design. The university's commitment to 
      academic rigor, modern facilities, and consistent rankings underscores its pivotal role in shaping the 
      landscape of technical education in India.</p>-->
    <h3 align="center" style="color:rgb(163, 15, 65);">The major vision of Anna University will be towards developing a sustainable higher education system, through</h3>
    <ul type="circle">
        <li>delivery of state of art teaching and learning,</li> 
         <li>research and innovation,</li> 
          <li>creation of entrepreneurial ecosystem,</li> 
          <li>outreach activities addressing the social, economic, and environmental targets. The core objective of the University is to work for the upliftment of the humanity at large.</li> 
    </ul>
    </div>




<!-- <marquee direction="left" behavior="alternate">Make Healthy life with fresh grocery</marquee>
<div class="home">
<h1 style="text-align: center;font-size:80px;margin-top:50px;font-style: italic;text-shadow:5px 5px rgb(3, 98, 17);color:yellow;">
  Grocery Shopping....!!</h1>
  <br>
  <br>
<h2 style="text-align: center;font-size:60px;font-family:Brush Script Mt;color:rgb(27, 22, 169)">We make it easy</h2>
-->
    
<footer class="footer">
    <div class="container">
     
      <span>All Rights Reserved 2023@Copyrights</span>
    </div>
    </footer>