<h3>View Fees Details</h3>
<div>
    <div>
        <label><b>ID</b></label>{{fees.id}}
    </div>
    <div>
        <label><b>Roll_Number</b></label>{{fees.roll_Number}}
    </div>
    <div>
        <label><b>Student_Name</b></label>{{fees.student_Name}}
    </div>
    <div>
        <label><b>Course_Name</b></label>{{fees.course_Name}}
    </div>
    <div>
        <label><b>Year</b></label>{{fees.year}}
    </div>
    <div>
        <label><b>Phone_Number</b></label>{{fees.phone_Number}}
    </div>
    <div>
        <label><b>PaidDate</b></label>{{fees.paidDate}}
    </div>
    <div>
        <label><b>Total_Fees_Amount</b></label>{{fees.total_fees_amount}}
    </div>
</div>
