<body>
<!--<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhiIUVCKdQPnYK8G20YtiuzJ_El0N4qTpHJw&usqp=CAU"align="left"hight="250" width="250">-->
<h1 align="center" style="color:rgb(236, 18, 18);">Anna University Giundy</h1>
<h5 align="center" style="color:green">
   Anna University
   Chennai - 600 025
   Tamil Nadu</h5><hr><br>
   <br>
 
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhiIUVCKdQPnYK8G20YtiuzJ_El0N4qTpHJw&usqp=CAU" align="center" hight="350" width="350">
   <h3 style="background-color:rgb(4, 190, 247)"><font style="color:hsl(0, 2%, 9%)">New Admission :</font></h3><hr>
<dl><h4 style="color:rgb(182, 6, 129)">Admission Procedure</h4>
<dt><h3 style="color: rgb(12, 26, 150);">Procedure & Guidelines for Admission</h3></dt>
<p>
    <dd><h2>Applicants should enclose the following along with their filled in application forms:
    </h2></dd>
    <ul type="square">
       <li>Two sets of Xerox copies of S.S.C.(in proof of date of Birth).</li>
       <li>Two sets of Xerox copies of the Marks memo of the Intermediate.</li>
       <li>Two sets of Xerox copies of the Transfer Certificate, Conduct and Study certificates.</li>
       <li>Two sets of Xerox Copies of Aadhar Card, Income Certificate or White Ration Card.</li>
       <li>Four self-addressed covers with Rs.5/- stamps affixed on each.</li>
       <li>2 Pass port size photographs and 3 stamp size Photographs.</li>
    </ul> </dl>

   </body>