
<!--<h2 id="a">Student List!!</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            
            <th>Last Name</th>
            <th>DOB</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>Course Name</th>
            <th>Branch</th>
            <th>Year</th>
            <th>Enrollement Date</th>
            <th>Roll Number</th>
            <th>Email</th>
            
           
            
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{student.id}}</td>
            <td>{{student.firstname}}</td>
            <td>{{student.lastname}}</td>
            <td>{{student.dob}}</td>
            <td>{{student.age}}</td>
            <td>{{student.gender}}</td>
            <td>{{student.mobile}}</td>
            <td>{{student.address}}</td>
            <td>{{student.courseName}}</td>
            <td>{{student.branch}}</td>
            <td>{{student.year}}</td>
            <td>{{student.enrollmentDate}}</td>
            <td>{{student.rollNumber}}</td>
            <td>{{student.email}}</td>
           <td>
                <button (click) = "updateStudent(student.id)" class = "btn btn-info" data-toggle> Update</button>
                <button (click) = "deleteStudent(student.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "studentDetails(student.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
    
        </tr>
    </tbody>
</table>-->

<h2 id="a">Student List!!</h2>
<table class="table table-light table-striped-columns">
    <thead>
      <tr>
       
        <th>ID</th>
        <th>First Name</th>
        
        <th>Last Name</th>
        <th>DOB</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Mobile</th>
        <th>Address</th>
        <th>Course Name</th>
        <th>Branch</th>
        <th>Year</th>
        <th>Enrollement Date</th>
        <th>Roll Number</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{student.id}}</td>
            <td>{{student.firstname}}</td>
            <td>{{student.lastname}}</td>
            <td>{{student.dob}}</td>
            <td>{{student.age}}</td>
            <td>{{student.gender}}</td>
            <td>{{student.mobile}}</td>
            <td>{{student.address}}</td>
            <td>{{student.courseName}}</td>
            <td>{{student.branch}}</td>
            <td>{{student.year}}</td>
            <td>{{student.enrollmentDate}}</td>
            <td>{{student.rollNumber}}</td>
            <td>{{student.email}}</td>
            <td>
                <button (click) = "updateStudent(student.id)" class = "btn btn-info" > Update</button>
                <button (click) = "deleteStudent(student.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "studentDetails(student.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
      
    </tbody>
  </table>

