<!--header-->
<nav *ngIf="ShowNavbar()">
  <nav class="navbar navbar-light" style="background-color:#ddeeff;">
    <div class="logo">
    <a routerLink="home">
   
    <span class="logo-text">Dashboard</span>
   </a>
  </div>
  
<a routerLink="aboutus">
    
  <span class="logo-text">AboutUs</span>
</a>
<a routerLink="contactus">
    
  <span class="logo-text">Contactus</span>
</a>
<a routerLink="courselist">
    
  <span class="logo-text">Course</span>
</a>
<!--<a routerLink="coursedetails/:id">
    
  <span class="logo-text">Course</span>
</a>-->
<a routerLink="placements">
    
  <span class="logo-text">Placements</span>
</a>
<a routerLink="events">
    
  <span class="logo-text">Event</span>
</a>
<a routerLink="timetablelist">
    
  <span class="logo-text">Timetable</span>
</a>
  <a routerLink="feeslist">
    
    <span class="logo-text">Fees Details</span>
  </a>
 <!--<a routerLink="profile">
    
    <span class="logo-text">profile</span>
  </a>-->
  <a routerLink="payment">
    
    <span class="logo-text">Payment</span>
  </a>
  

  
  <div class="logo">
    <a routerLink="home1">
    
    <span class="logo-text">Log out</span>
  </a>
  </div>
    </nav>
</nav>

    <br>
   
 <!--  <footer class="footer">
    <div class="container">
     
      <span>All Rights Reserved 2023@Copyrights</span>
    </div>
    </footer>-->
  




